.employee-dashboard {
  padding: 32px 64px;
}

h1 {
  text-align: center;
}

.employee-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

mat-card {
  margin: 8px;
  width: 180px;
  cursor: pointer;
}
